/* Estilos globales */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: auto; /* Cambiado a 'auto' para permitir el desplazamiento */
}

/* Estilos del control de selección */
#controls {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    z-index: 1000;
    padding: 10px;
    box-sizing: border-box;
}

#controls select {
    font-size: 16px;
    margin-right: 10px;
    width: 100%;
    max-width: 400px;
}

/* Contenedor para mantener la proporción 9:16 */
.iframe-container {
    position: relative;
    width: 100%;
    padding-top: 177.78%; /* (16 / 9) * 100% */
    overflow: hidden;
}

.iframe-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

/* Contenedor para el índice KP */
#kpIndexContainer {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

/* Estilos adicionales */
.panel {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

.logo-dga {
    position: absolute;
    top: 20px;
    left: 10px;
    width: 150px;
    z-index: 10;
}

.windy-iframe {
    border: 1px solid #ccc;
    margin-left: 10px;
}

.right-iframes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.top-right-iframe,
.bottom-right-iframe {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}
